
  <div class="crypto-options">
    <form (ngSubmit)="onSubmit()">
      <div >
        <label for="coin">Coin:</label>
        <select name="coin" id="coin" [(ngModel)]="coin">
          @for (item of coinOptions; track item) {
            <option key="item">{{ item }}</option>
          } @empty {
            <p>There are no coin.</p>
          }
        </select>
      </div>
      <div>
        <label for="currency">Currency:</label>

        <select name="currency" id="currency" [(ngModel)]="currency">
          @for (item of currencyOptions; track item) {
            <option key="item">{{ item }}</option>
          } @empty {
            <p>There are no currency.</p>
          }
        </select>
      </div>
      <div>
        <label for="days">Days:</label>
        <select name="days" id="days" [(ngModel)]="days">
          @for (item of daysOptions; track item) {
            <option key="item">{{ item }}</option>
          } @empty {
            <p>There are no items.</p>
          }
        </select>
      </div>
      <button type="submit" (click)="onSubmit()">Update Chart</button>
    </form>
  </div>
